figure {
    display: flex;
}
figure img {
    vertical-align: top;
}
figure figcaption {
    text-align: center;
}

  .about-widget {
    padding: 30px;
    margin-bottom: 30px;
  }

  .about-widget:hover {
    background: lightblue;
  }

  .sources-container{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }

  .cards-container{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }

  .card-spacing {
    padding: 2vw;
    margin-bottom: 5vw
    
  }

  .gitlab-widget{
    padding: 15px;
    margin-bottom: 15px;
    font-size: 2vw
  }

  .section-title{
    font-size: 2vw;
    font-weight: bold;
    text-align: center;
  }

  .largeText{
    font-size: 1vw;
    padding-left: 3vw;
    padding-right: 3vw
}

  
  