cardStyle {
    width: 900px;
    height: 100%;
}
  
recipeImage {
    height: auto;
    max-height: 350px;
    width: auto;
    max-width: 350px;
    display: block;
    margin-left: auto;
    margin-right: auto
  }
  
cardLabels {
    font-weight: bold;
    font-size: 15px;
    margin-top: 25px
  
  }
  
dividerLabels {
    font-weight: bold;
    font-size: 30px;
    
  }